.panelContact{
    margin: 180px 0;
}


.contactRedes{
    display: grid;
    justify-content: center;
}


.homeContact{
    .contactContainer{
        margin-bottom: 0;
    }
    .panelContact{
        margin-bottom: 0;

    }
    
}

.email{
    // margin: 70px auto 0;
    font-size: 27px;
    font-family: 'Bigshot One', sans-serif;
    align-self: center;
    justify-self: center;
    display: grid;
    gap: 70px;
    margin-top: -90px;
    a{
        color: whitesmoke;
        text-decoration: none;
    }
}


@media (max-width: 600px) {

    .panelContact{
        margin: 90px 0;
    }
    .email{
        margin-top: 10px;
        font-size: 15px;
    }
}




