.home{
    height: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    // background-image: url('../../assets/fondorayos.jpg');
    background-position: 0px;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    // top: -130px !important;

    // margin-left: 10vw !important;
    
}

.panel{
    // margin-top: 95px;
}