.basicBtn{
    background-color: rgb(65, 65, 65);
    margin: auto 10px;
    display: flex;
    gap: 14px;
    padding: 10px 16px;
    border-radius: 2px;
    transition: 1s;
    &:hover{
    background-color: rgb(80, 80, 80);
    box-shadow: 0 0 110px black;
        
        .btxt{
                    color: rgb(43, 43, 43);
                }
        

    }

    
    .btxt{
            padding: 0;
            transition: 1s;
            color: rgb(145, 145, 145);
        }
    

        
    .icon{
                width: 24px;
            }
        
    }


