.footer{
    padding: 40px 80px;
    background-color: black;
    font-size: 12;
    color: rgb(133, 133, 133);
    display: grid;
    align-items: center;
    justify-items: center;
    a{
        color: rgb(170, 170, 170);
        text-decoration: none;
    }
    .gridMenus{
        display: flex;
        gap: 60px;
    }
    .menuItem{
        font-family: "Bigshot One", sans-serif;
        font-weight: 600;
        margin: 0;
    }
}


@media (max-width: 600px) {
    .footer {
    //   display: none;
    padding: 0;
      a{

      }
      .gridMenus{
        gap: 29px;
        margin-bottom: 40px;
      }
      .menuItem{

      }
      .textoFooter{
          padding: 30px 10px;
      }
    }
  }