.infoText{
    color: whitesmoke;
    width: 70vw;
    display: grid;
    align-content: center;
    justify-items: center;
    margin-top: 232px;
    margin-bottom: 300px;
    p{
        width: 71vw;
        font-size: larger;
        font-size: 20px;
        font-size: 1.4em;
        text-align: left;
        line-height: 2;
        strong{
            font-size: 21px;
        }
    }

    .downLoadCV{
        background-color: #ff5e00;
        color: whitesmoke;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 7px;
        justify-self: start;
        margin: 51px 0 0;
        transition: 1s;
        &:hover{
            background-color: #361401; 
        }
    }

}


@media (max-width: 600px) {
    .infoText{  
        width: 100vw;
        margin-bottom: auto;
        margin-top: 100px;
        p{
            font-size: 1em;
            strong{
                font-size: 18px;
            }
        }
        .downLoadCV{
            justify-self: center;
        }
    }
  }