.infoText{
    color: whitesmoke;
    width: 80vw;
    display: grid;
    align-content: center;
    justify-items: center;
    p{
        width: 50vw;
        font-size: large;
        text-align: left;
        line-height: 2;
    }
}