.infoText{
    color: whitesmoke;
    width: 80vw;
    display: grid;
    align-content: center;
    justify-items: center;
    p{
        width: 50vw;
        font-size: larger;
        font-size: 20px;
        font-size: 1.3em;
        text-align: left;
        line-height: 2;
        strong{
            font-size: 21px;
        }
    }
}