.logo{
    position: fixed;
    width: 30vw;
    top: 30px;
    left: 70px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Barrio', cursive;
    font-size: 2rem;
    color: #ffffffb6;
    text-decoration: none;
    z-index: 1000;
}

.logo canvas{
    width: 180px !important;
}