.portada{
    color: white;
    color: #484848;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    height: 98vh;
    // margin-right: 9%;
    // margin-left: 4%;
    // margin: 70px auto;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .contenedorPortada{
        
    }

    .full{
        margin-bottom: -70px;
    }

    .developer{
        margin-top: -81px;
    }

    h1{
        grid-row: 1;
        grid-column: 1;
        font-size: 25em;
        font-size: 23vw;
        font-size: 28vw;
        font-family: 'Barrio', sans-serif;
        font-family: 'Bigshot One', sans-serif;
        justify-self: center;
        align-self: center;

        // margin: 70px auto;
    }

    p{
        grid-row: 1;
        grid-column: 1;
        font-size: 4em;
        font-family: 'Barrio', sans-serif;
        font-family: 'Bigshot One', sans-serif;
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
        align-self: center;
    }
}


@media (max-width: 1024px) {
    .portada{
        h1{
            font-size: 24vw;
        }
        p{
            font-size: 4em;
        }
        .full{
         margin-bottom: -37px;
        }
        .developer{
         margin-top: -35px;
        }
    }
 }

@media (max-width: 600px) {
   .portada{
       h1{
           font-size: 23vw;
       }
       p{
           font-size: 1.6em;
       }
       .full{
        margin-bottom: -12px;
       }
       .developer{
        margin-top: -13px;
       }
   }
}


