.projects{
    display: grid;
    justify-items: center;


    grid-auto-rows: auto;
    display: flex;
    /* justify-items: center; */
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;

    column-gap: 20vw;

    align-items: center;

    gap: 250px;


}


#proyectos{
    // background-image: url('../assets/fondorayos.png');
}