.projectContenedor{
    display: grid;
    flex-direction: row;
    width: min-content;
    flex-wrap: wrap;
    justify-items: start;
    padding: 30px;
    // overflow: hidden;
 

    p{
        font-size: 26px;
        padding: 0 12px;
    }
    a{
        color: whitesmoke;
        text-decoration: none;
    }

    &:hover{
        cursor: crosshair;
        // background-color: rgba(31, 31, 31, 0.178);
        
    }


}

// .projectContenedor :after{
//     background-color: yellowgreen;
//     content: ' ';
//     height: 10px;
//     width: 10px;
//     position: absolute;
// }