.projectBtn{
    font-family: "Bigshot One", cursive;
    justify-self: end;
    z-index: 2;
    font-size: 35px;
    margin-bottom: 4px;
    margin-right: 10px;

    div{
        // text-shadow: 0 0 160px black, 0 0 160px red;
    }

}


@media (max-width: 600px) {
 .projectBtn{
    font-size: 18px;
 }
  }