.redes{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 7em 5em;
    color: white;
    justify-self: end;
}

@media (max-width: 600px) {
    .redes{
        // margin: 30px 0;
        // gap: 20px;
        justify-self: center;
        flex-wrap: wrap;
    }
  }