.cuadriculaProjects{
    margin: 180px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    align-items: baseline;
    gap: 15px;
    width: 100%;
    max-width: 80vw;
        .projectStack p{
            font-size: 22px;
        }

        .projectBtn{
            font-size: 22px;
        }
        .botones{
            margin-top: -25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            // margin: 10px auto;
            max-width: 261px;
            gap: 12px;
            justify-content: center;
        }
        
        .projectTarjetaContenedor{
            max-height: 200px;
            // transform: scale(0.5);
        }
        
        
        
        
        .projectTarjetaContenedor{
            display: grid;
            flex-direction: row;
            width: min-content;
            flex-wrap: wrap;
            justify-items: start;
            padding: 30px;
            // overflow: hidden;
            transition: 0.5s;
        
            p{
                font-size: 26px;
                padding: 0 12px;
            }
            a{
                align-items: center;
                color: whitesmoke;
                text-decoration: none;
                align-items: center;
            }
        
            &:hover{
                a:hover{
        
                    color: rgb(34, 34, 34);
                }   
                cursor: crosshair;
                // background-color: rgba(31, 31, 31, 0.178);
                
            }
        
            .projectTarjetaImg{
                width: 320px;
                height: 162px;
            }

            .projectTarjetaImg .imgProject:hover {
                margin-left: 10px;
                width: 400px;
                margin-top: -10px;}
            .projectTarjetaImg .imgProject {
                    
                    width: 352px;
                    }    
        
        }

        .projectStack p{
            font-size: 20px;
        }
}


.panelContact{
    padding: 0 120px;
}



@media (max-width: 600px) {
    .cuadriculaProjectssss{
        display: grid;
        justify-content: center;
    }
    .cuadriculaProjects{
        max-width: 100vw;
        .botones{
            margin-top: 25px;
        }
        .projectTarjetaContenedor{
            width: 90vw;
            padding: 0;
            .projectTarjetaImg{
                width: 90vw;
            }
        }
    }
  }